torch==2.1.0
numpy~=1.23.5
pandas==2.1.1
scikit-learn~=1.3.1
transformers~=4.33.3
pyyaml~=6.0
matplotlib~=3.8.0
tqdm~=4.66.1
scipy==1.11.3
torchmetrics==1.2.0
shap~=0.42.1
spacy~=3.6.1
treetaggerwrapper~=2.3
accelerate
evaluate==0.4.1
datasets~=2.14.5
seaborn~=0.13.0
bertopic~=0.15.0
hdbscan~=0.8.33
plotly==5.18.0
joblib~=1.3.2
networkx~=3.1
textblob~=0.17.1
nltk~=3.8.1
language-tool-python
skorch~=0.15.0